@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  background-color: #050505;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  font-size: 100px;
}
.section-title span{
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
.our-team,.our-message,.our-mission,.our-goal,.rate-us{
  width: 100%;
  height: 385px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width:576px) {
  .section-title{
    font-size: 36px;
  }
}
/* ================================== Start preloader ================================== */
  #preloader{
    background: #1E242A;
    height: 100vh !important;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    overflow: hidden;
  }
  .logo-img-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .perloader-logo{
    position: absolute;
    left: 0;
    top: 60%;
    visibility: hidden;
    animation: perloader-logo 3s  1s ease-in-out;
    transform-origin: bottom;
  }
  @keyframes perloader-logo {
    0%{
    visibility: visible;
    transform: rotate(0deg);
    left: -50px;
    top: 60%;
    }
    50%{
      transform: rotate(20deg);
      top: 40%;
    }
    75%{
      transform: rotate(-10deg);
    }
    100%{
      transform: rotate(0deg);
      left: 100%;
      top: 50%;
    }
  }
  /* @media (max-width:576px) {

  } */
/* ================================== Start preloader ================================== */

/* ================================== Start Navbar ==================================--> */
.navbar{
    display: none;
    transition: 3s;
    background-color: transparent !important;
  }

  .site-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.box3-relative{
position: relative;
}
.fixed {
    background-color: rgba(43, 47, 53, 0.95);
}

  .nav-item  .active{
    color: #E78E2A !important;
  }
  .language>:first-child{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
  }
  
  .nav-item  a{
    transition: 0.3s;
    padding-bottom: 0px; 
    color: white;
  }
  .nav-item  :not(.lang){
    margin-right: 31px;
  }
  .nav-item >:last-child span{
    display: none;
  }
  .nav-item{
    display: flex;
    flex-direction: column;
  }
  .nav-item span{
    width: 0;
    height: 1.2px;
    border-radius: 8px;
    background-color: #E78E2A;
    margin-left: 8px;
  }
  .nav-item:hover a{
    color: #E78E2A;
  }
  .nav-item:hover span{
    animation: nav-item-animation 0.4s both;
  }
  .fa-bars{
    color: white;
    font-size: 22px;
  }
  .navbar-toggler{
    border: none;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
  
  @keyframes nav-item-animation {
    0%{
      width: 0;
    }
    100%{
      width:calc(100% - 47px);
      
    }
  }
  /* ================================== End Navbar ==================================--> */

  /* ================================== Start Header ================================== */
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
  }
  .slider-container h1 span{
    color: #F0892B;
  }
  .slider-container h1 {
    color: #fff;
    font-size: 6em;
    letter-spacing: 5px;
    position: relative;
    z-index: 100;
    text-align: center;
  }
  
  .slider-container::after {
    background-color: #000;
    content: '';
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transform: scale(1.15);
    transition: opacity .6s ease;
  }
  .slide::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000000 0%, #050505 98%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .slide.active {
    animation: grow 4s linear forwards;
    opacity: 1;
  }
  
  @keyframes grow {
    0%, 20% {
      transform: scale(1);
    }
    
    75%, 100% {
      transform: scale(1.15);
    }
  }
  
  .controls-container {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .control {
    background-color: #fff;
    cursor: pointer;
    opacity: 0.5;
    margin: 6px;
    height: 40px;
    width: 5px;
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
  }
  
  .control.active, .control:hover {
    background-color: #fff;
    opacity: 1;
    transform: scale(1.2);
  }
  .control{
    position: relative;
  }
.elementor-background-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000000 0%, #050505 98%);
    opacity: 1;
    /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
}
  @media (max-width:576px) {
    .slider-container h1 {
      font-size: 2.5em;
    }
  }
  /* ================================== End Header ================================== */

  /* ================================== Start Our team ==================================  */
.fake-box{
  width: 100%;
  height: 100vh;
}
.our-team{
  width: 100%;
  height: 385px;
  background-image: url(../images/pexels-fauxels-3183183.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-title{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
  /* ================================== End Our team ==================================  */

  /* ================================== Start Our message ================================== */
  .our-message{
    background-image: url(../images/message.svg);
    background-position: center center;
  }
  /* ================================== End Our message ================================== */

/* ================================== Start Our mission ================================== */
  .our-mission{
    background-image: url(../images/mission.jpg);
    background-position: center center;
  }
  /* ================================== End Our mission ================================== */

  /*  ================================== Start Our goal ==================================- */
.our-goal{
  background-image: url(../images/goal_prev_ui.png);
  background-position: center left;
  background-size: contain;
}
.our-goal::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #202626;
  z-index: -9999;
}

  /*  ================================== End Our goal ==================================- */

  .rate-us{
    background-image: url(../images/rate-removebg-preview.png);
    background-position: center center;
    background-size: contain;
  }
  .rate-us::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #1a1a1a;
    z-index: -9999;
  }
/* ================================== Start Rate us ================================== */
/* CARD COMPONENT */
.our-services{
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  width: 100%;
  height: auto;
  /* background-image: url(../images/professional-lighting-equipment-movie-set-with-smoke-air\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  background-color: #000;
}



.section-title-services,.section-title-contact-us{
  color: #E78E2A;
  font-size: 35px;
  letter-spacing: 1px;
  font-size: 100px;
  text-align: center;
  margin-bottom: 75px;
  padding-top: 75px;
}
.section-title-contact-us{
  color: white;
}
.section-title-services span,.section-title-contact-us span{
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  padding: 0;
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  color: white;
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

/* .card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
} */

/* @media (any-hover: hover) and (any-pointer: fine) { */
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }
.card__description{
  color: #eee;
}
  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 500ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
  @media (max-width:576px){
    .section-title-services{
      font-size: 36px;
    }
  }
/* } */
/* ================================== End Rate us ================================== */
/*  ================================== Start Landing Counter Section  ==================================*/
.landing-counter {
  width: 100%;
  min-height: 173px;
  background: linear-gradient(
    91.13deg,
    rgba(255, 255, 255, 0.12) 0.15%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(17.5px);
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.total-orders,
.number-of-clients,
.number-of-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.number-of-clients {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}
.total-orders > :nth-child(2),
.number-of-clients > :nth-child(2),
.number-of-services > :nth-child(2) {
  padding-right: 1rem;
}
.total-orders > :nth-child(2) > p,
.number-of-clients > :nth-child(2) > P,
.number-of-services > :nth-child(2) > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.counter i {
  font-size: 30px;
  color: white;
}
@media (max-width: 768px) {
  .landing-counter {
    flex-direction: column;
    padding: 20px 0;
  }
  .total-orders,
  .number-of-clients,
  .number-of-services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 80%;
  }
  .number-of-clients {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
  .number-of-services {
    padding-top: 25px;
  }
}
/*  ================================== End Landing Counter Section  ================================== */

/* ================================== Start Contact us ==================================  */
/* ///// inputs /////*/
.contact-us{
  margin-bottom: 60px;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}
@media (max-width: 576px){
  .section-title-contact-us{
    font-size: 36px;
  }
}
.styled-input label {
  color: #999;
  padding: 0.7rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 20px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: left;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}
/* ================================== End Contact us ==================================  */

/*  ================================== Start footer ================================== */
footer{
  /* background-color: #EEEEEE; */
  padding: 40px 0;
}
.footer-logo h4{
  margin: 8px 0;
  color: #eee;
}
.footer-logo h4 span{
  color: #E78E2A;
}
.footer-content{
  display: flex;
}
.location p{
  margin-bottom: 0;
  padding-left: 4px;
  color: #eee;
}
.location{
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.social-media-links{
  position: relative;
  margin-left: 130px;
}
.social-media-links-ul {
  /* position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0; */
  display:flex;
  padding-left: 0;
}
.social-media-links h3{
  padding-left: 8px;
  color: #eee;
}
.social-media-links-ul li {
  list-style: none;
}

.social-media-links-ul li a {
  position: relative;
  width:50px;
  height:50px;
  display:block;
  text-align:center;
  margin:0 5px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social-media-links-ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.social-media-links-ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(50px - 12px);
  font-size:22px;
  color: #262626;
  transition: .5s;
}

.social-media-links-ul li:nth-child(1) a:hover .fab {
  color: #FFFC00;
}

.social-media-links-ul li:nth-child(2) a:hover .fab {
  color: #49C456;
}

.social-media-links-ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.social-media-links-ul li:nth-child(4) a:hover .fab {
  color: #e4405f;
}

/* .social-media-links-ul li:nth-child(5) a:hover .fab {
  color: #007bb6;
} */
.mail a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail img{
  margin-top: 6px;
}
@media (max-width:768px) {
  .footer-content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .social-media-links{
    margin-top: 30px;
    margin-left: 0;
  }
}
/*  ================================== End footer ================================== */